body{
    padding: 0 100px;
    background: rgb(17, 14, 17);
        background: linear-gradient(90deg, rgba(220, 53, 255, 1) 0%, rgb(108, 45, 134) 35%, rgba(232, 0, 255, 1) 100%);

}
.textAlignCenter{
    text-align: center;
}
li, a{
    list-style: none;
    text-decoration: none;
    display: inline;
}
.displayInline{
display: inline;
}
.textColorWhite{
    color: white;
}
.bgBlack{
    background-color: black;
}
.padding5{
    padding: 5px;
}
.borderpurple{
    border-radius: 30px;
background-color: purple;
padding: 10px;
    border: 5px solid black
}
.borderpurple:hover{
    background-color: rgb(202, 15, 202);
    border: 5px solid white
}
.borderRadius{
    border-radius: 10px;
}
.borderWhite{
border-radius: 15px;
background-color: white;
}
.textblack{
    color: black;
}
.bgRed{
    background-color: red;
}
hr{
    color: white;
}
