body {
    margin: 0;
    padding: 0;
}
.dFlex {
    display: flex;
    font-size: medium;
}


aside {
    width: 20vw;
    height: 100vh;
    background-color: grey;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    font-size: 25%;
}

.bgGreen{
    background-color: green;
}

.bgBlue{
    background-color: blue;
}
.bgViolet{
    background-color: violet;
}

.img{
    border-radius: 88%;
    justify-content: space-between;
    margin-left: 90%;
    height: 50%;
    width: 10%;
}



aside h1 {
    flex-direction: column;
    align-items: end;
}



aside p {
    flex-direction: column;
    align-items: end;
}

   
    
