* {
    margin: 0;
    padding: 0;
  }
  
  body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .dFlex {
      display: flex;
  }
  
  aside {
      background-image: url("img/de4884ad26f0473a90b1ef47ca852aafa68a63b2_full.jpg");
      background-repeat: no-repeat;
      background-size: 1000px;
      background-blend-mode: color;
      background-color: rgba(0, 0, 0, 0.772);
      height: 100vh;
      width: 15%;
      padding: 30px;
  }
  
  .flexDirection {
      flex-direction: column;
  }
  
  .gap {
      gap: 15px;
  }
  
  .imgBorder {
      padding: 5px;
      border-radius: 10px;
  }
  
  .alignItems {
      align-items: center;
  }
  
  .border {
      border: 2px solid transparent;
      border-radius: 2px;
  }
  
  .border:hover {
      background-color: grey;
  }
  
  .textWhite {
      color: white;
  }
  
  .borderbottom {
      border-bottom: 2px solid white;
  }
  
  hr {
      color: white;
  }
  
  .black {
      color: black;
      margin-bottom: 20px;
  }
  
  .bgRed {
      background-color: red;
  }
  
  .radius {
      border-radius: 5px;
  }